*{
    padding: 0px;
    margin:0px;
    
}

body {
    height: 1500px;
    background-image: linear-gradient(red, yellow);
    /* background-color: lightgrey; */
}

.jumbotron {
color: white;
padding: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
}

.top {
    margin: 15px;
}
.past-searches li{
    margin-left: 15px;
    /* list-style: none; */
    padding: 5px;
}

/* .stock-news ul li{
    margin-left: 20px;

    padding: 5px;
} */

.photo {
height: 200px;
width: 325px;
display: block;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}

/* #search{
    text-align: center;
    margin:10px 20px;
} */

.news {
    margin: 15px;
}

.stock-news-list {
    list-style: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.5);
    color: white;
    text-align: center;
    /* lightblue 173,216,230; */
}

.footer li {
    list-style: none;
    display: inline;
    padding: 10px;
    color: grey
}
.footer li a {
    color: white;
}