*{
    padding: 0px;
    margin:0px;
}
body{
    background-image: url("ll.jpg");
}
.jumbotron {
color: white;
}

#card1{
    position: relative;
    padding-left: 620px;
}
#space1{
    width: 260px;
}
#container1{
    height: 200px;
    width:55%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
}
.table {
    width: 30%;
    margin-left: 6px;
    border:0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightblue;
    color: white;
    text-align: center;
}

.past-searches li{
    margin-left: 20px;
    list-style: none;
    /* display: inline; */
    background-color: black;
    color: white;
    padding: 5px;
}
#cardw{
    height: 250px;
    width:55%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    
}
#weather{
    padding: 15px 13px 15px 18px;
   
}
#search{
    text-align: center;
    margin:10px 20px;
}
